BACakeShopManagementApplication/.vs/BACakeShopManagementApplication/FileContentIndex/
BACakeShopManagementApplication/.vs/
BACakeShopManagementApplication/BACakeShopManagementApplication/bin/
BACakeShopManagementApplication/BACakeShopManagementApplication/obj/
BACakeShopManagementApplication/BACakeShopManagementApplication/bin/Debug/BACakeShopManagementApplication.exe
BACakeShopManagementApplication/BACakeShopManagementApplication/bin/Debug/
